/* div.st-emotion-cache-7ym5gk.ef3psqc12
{
    color: burlywood;
    text-align: center;
    display: block;
    margin: 0 auto;
} */

/* div.st-emotion-cache-10fz3ls.e1nzilvr5 */
/* { */
    /* display: block;
    margin: 0 auto; */
    /* border-style: dashed; */
    /* border-radius: 10px; */
    /* text-align: center; */
/* } */

div.row-widget.stButton
{
    /* border-style: dashed; */
    /* border-radius: 10px; */
    text-align: center;
}
/* div.st-emotion-cache-18fuwiq.e1f1d6gn3
{
    background-color: rgb(228, 187, 132);
} */
.scrollcontainer {
    width:100%;
    position: fixed;
    z-index: 1;
    /* overflow-x: hidden; */
    height: auto;
    bottom:0px;
    top:60px;
  }
  /* div.st-emotion-cache-ek46pn.e1f1d6gn3
{
    background-color: rgb(228, 187, 132);
} */
